<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Home</title>
</head>
<body>
    <%- include('../partials/header')%>
    <img class="left-bookshelf" src="/images/left.png" alt="bookshelf">
    <img class="right-bookshelf" src="/images/right.png" alt="bookshelf">

    <div class="sorting-bar">
        <a href="">
            <h1>Author</h1>
            <img class="book" src="/images/book.webp" alt="book">
        </a>

        <a href="">
            <h1>Date</h1>
            <img class="book" src="/images/book.webp" alt="book">
        </a>

        <a href="">
            <h1>Genre</h1>
            <img class="book" src="/images/book.webp" alt="book">
        </a>

        <a href="">
            <h1>Alphabetically</h1>
            <img class="book" src="/images/book.webp" alt="book">
        </a>
    </div>
</body>
</html>