<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Home</title>
</head>
<body>
    <%- include('../partials/header')%>
    

        <div class="book-list">
            <ul id="bookList">
                <% books.forEach(book => { %>
                    <li>
                        <strong><%= book.title %></strong> by <%= book.authorName %> (Published: <%= book.published_year %>)
                    </li>
                <% }) %>
            </ul>
        </div>

    </div> 
</body>
</html>